@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Smooch+Sans:wght@100..900&family=Young+Serif&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--bg-color);
  font-family: "Inter", sans-serif;
  color: black;
}

:root {
  --bg-color: #d9dcd6;
  --primary-color: #2892d7;
}

.navbar {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  padding: 0.8rem;
  margin: 2rem;
  font-size: 2rem;
  border: 2px solid black;
  border-radius: 8rem;
}

.nav-menu {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.zenko-logo {
  object-fit: cover;
  border-radius: 4rem;
  cursor: pointer;

  display: flex;
  align-items: center;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

a:hover {
  color: var(--primary-color);
}

figure {
  display: flex;
  align-items: center;
}

.myanmar-logo {
  border: 2px solid black;
  border-radius: 50%;
}

.contactme-btn {
  font-size: 1.6rem;
  background-color: var(--primary-color);
  border: 2px solid black;
  border-radius: 4rem;
  padding: 0 2rem;
  cursor: pointer;
}

.ctn1 {
  display: flex;
  gap: 1.6rem;
  justify-content: space-evenly;
  align-items: center;
}

.ctn2 {
  display: flex;
  gap: 1.2rem;
}
